<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>ApartServlet</servlet-name>
        <servlet-class>service.ApartServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>NewServlet</servlet-name>
        <servlet-class>service.NewServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Addapart</servlet-name>
        <servlet-class>service.AddapartLab5</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Addshowautopart</servlet-name>
        <servlet-class>service.AddshowLab4</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddapartLab6</servlet-name>
        <servlet-class>service.AddapartLab6</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddapartLab5</servlet-name>
        <servlet-class>service.AddapartLab5</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ApartServlet</servlet-name>
        <url-pattern>/ApartServlet/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>NewServlet</servlet-name>
        <url-pattern>/NewServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Addapart</servlet-name>
        <url-pattern>/Addapart</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Addshowautopart</servlet-name>
        <url-pattern>/Addshowautopart</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddapartLab6</servlet-name>
        <url-pattern>/AddapartLab6</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddapartLab5</servlet-name>
        <url-pattern>/AddapartLab5</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
